.errorMessage {
    color: red;
    font-size: 12px;
}

.contacts__form__half {
    height: 88px;
}

#upload-file {
    display: none;
}

.cat-menu .strong {
    font-weight: bold;
}

.score {
    width: 69px;
}