.errorMessage {
    color: red;
    font-size: 12px;
    margin-top: -20px;
}

.contacts__form__half .errorMessage {
    margin-top: 0;
}

.reg .errorMessage {
    height: 20px;
}

#upload-file {
    display: none;
}

.cat-menu .strong {
    font-weight: bold;
}

.score {
    width: 68px;
}

.about strong,
.prod strong {
    font-weight: bold;
}