body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:999px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:24px;
  top:155px;
  width:55px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:92px;
  top:155px;
  width:105px;
  height:16px;
  text-decoration:underline;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:79px;
  top:158px;
  width:10px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:-7px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:10px;
  height:1px;
}
#u5 {
  position:absolute;
  left:250px;
  top:266px;
  width:498px;
  height:330px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:330px;
}
#u6 {
  position:absolute;
  left:2px;
  top:157px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:308px;
  top:306px;
  width:83px;
  height:198px;
  font-size:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:198px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:478px;
  top:306px;
  width:215px;
  height:198px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:198px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:308px;
  top:521px;
  width:140px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:-3px;
  top:653px;
  width:1005px;
  height:150px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:150px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:0px;
  width:200px;
  height:100px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u15 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:791px;
  top:37px;
  width:200px;
  height:26px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:791px;
  top:21px;
  width:39px;
  height:16px;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:968px;
  top:39px;
  width:20px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:939px;
  top:74px;
  width:50px;
  height:22px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22 {
  position:absolute;
  left:825px;
  top:71px;
  width:100px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23 {
  position:absolute;
  left:252px;
  top:33px;
  width:130px;
  height:22px;
  font-size:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:420px;
  top:33px;
  width:130px;
  height:22px;
  font-size:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:641px;
  top:34px;
  width:138px;
  height:16px;
  font-size:14px;
  text-decoration:underline;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:252px;
  top:4px;
  width:328px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:916px;
  top:7px;
  width:20px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:944px;
  top:7px;
  width:20px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:971px;
  top:7px;
  width:20px;
  height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:642px;
  top:5px;
  width:207px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:252px;
  top:66px;
  width:500px;
  height:30px;
}
#u39_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:506px;
  height:36px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:35px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:100px;
  top:30px;
  width:294px;
  height:472px;
  visibility:hidden;
}
#u51_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:300px;
  height:478px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:477px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:36px;
}
#u54 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:36px;
  width:294px;
  height:52px;
  font-size:14px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:52px;
}
#u56 {
  position:absolute;
  left:2px;
  top:18px;
  width:290px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:88px;
  width:294px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:36px;
}
#u58 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:124px;
  width:294px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:36px;
}
#u60 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:160px;
  width:294px;
  height:68px;
  font-size:14px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:68px;
}
#u62 {
  position:absolute;
  left:2px;
  top:26px;
  width:290px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:228px;
  width:294px;
  height:68px;
  font-size:14px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:68px;
}
#u64 {
  position:absolute;
  left:2px;
  top:26px;
  width:290px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:296px;
  width:294px;
  height:52px;
  font-size:14px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:52px;
}
#u66 {
  position:absolute;
  left:2px;
  top:18px;
  width:290px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:348px;
  width:294px;
  height:52px;
  font-size:14px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:52px;
}
#u68 {
  position:absolute;
  left:2px;
  top:18px;
  width:290px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:400px;
  width:294px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:36px;
}
#u70 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:436px;
  width:294px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:36px;
}
#u72 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  word-wrap:break-word;
}
