body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1018px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:24px;
  top:139px;
  width:55px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:92px;
  top:140px;
  width:58px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:79px;
  top:142px;
  width:10px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:-7px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:10px;
  height:1px;
}
#u5 {
  position:absolute;
  left:145px;
  top:143px;
  width:10px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:-7px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:10px;
  height:1px;
}
#u6 {
  position:absolute;
  left:157px;
  top:140px;
  width:120px;
  height:16px;
  text-decoration:underline;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:24px;
  top:239px;
  width:436px;
  height:389px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:389px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:50px;
  top:265px;
  width:380px;
  height:233px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:233px;
}
#u11 {
  position:absolute;
  left:2px;
  top:108px;
  width:376px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:50px;
  top:529px;
  width:120px;
  height:70px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
}
#u13 {
  position:absolute;
  left:2px;
  top:27px;
  width:116px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:179px;
  top:529px;
  width:120px;
  height:70px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
}
#u15 {
  position:absolute;
  left:2px;
  top:27px;
  width:116px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:310px;
  top:529px;
  width:120px;
  height:70px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
}
#u17 {
  position:absolute;
  left:2px;
  top:27px;
  width:116px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:24px;
  top:546px;
  width:19px;
  height:36px;
  font-size:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:36px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:435px;
  top:546px;
  width:19px;
  height:36px;
  font-size:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:36px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:521px;
  top:190px;
  width:73px;
  height:29px;
  font-size:25px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:521px;
  top:278px;
  width:499px;
  height:89px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:89px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:521px;
  top:407px;
  width:482px;
  height:230px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:230px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:521px;
  top:238px;
  width:100px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u29 {
  position:absolute;
  left:0px;
  top:732px;
  width:1001px;
  height:210px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:210px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:24px;
  top:776px;
  width:200px;
  height:100px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u32 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:95px;
  top:886px;
  width:58px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:267px;
  top:776px;
  width:200px;
  height:100px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u36 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:338px;
  top:886px;
  width:58px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:512px;
  top:777px;
  width:200px;
  height:100px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u40 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:583px;
  top:887px;
  width:58px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:757px;
  top:776px;
  width:200px;
  height:100px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u44 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:828px;
  top:886px;
  width:58px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:0px;
  top:809px;
  width:19px;
  height:36px;
  font-size:30px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:36px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:967px;
  top:808px;
  width:19px;
  height:36px;
  font-size:30px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:36px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:-2px;
  top:1215px;
  width:1005px;
  height:150px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:150px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:12px;
  top:992px;
  width:980px;
  height:224px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:224px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:2px;
  top:976px;
  width:1001px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:984px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1001px;
  height:1px;
}
#u56 {
  position:absolute;
  left:468px;
  top:698px;
  width:82px;
  height:24px;
  font-size:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:20px;
  top:0px;
  width:200px;
  height:100px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u59 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:791px;
  top:37px;
  width:200px;
  height:26px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u61 {
  position:absolute;
  left:791px;
  top:21px;
  width:39px;
  height:16px;
  font-size:14px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:968px;
  top:39px;
  width:20px;
  height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:939px;
  top:74px;
  width:50px;
  height:22px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u66 {
  position:absolute;
  left:825px;
  top:71px;
  width:100px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u67 {
  position:absolute;
  left:252px;
  top:33px;
  width:130px;
  height:22px;
  font-size:18px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:420px;
  top:33px;
  width:130px;
  height:22px;
  font-size:18px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:641px;
  top:34px;
  width:138px;
  height:16px;
  font-size:14px;
  text-decoration:underline;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:252px;
  top:4px;
  width:328px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:916px;
  top:7px;
  width:20px;
  height:20px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:944px;
  top:7px;
  width:20px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:971px;
  top:7px;
  width:20px;
  height:20px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:252px;
  top:66px;
  width:500px;
  height:30px;
}
#u81_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:506px;
  height:36px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:35px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:100px;
  top:30px;
  width:294px;
  height:472px;
  visibility:hidden;
}
#u93_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:300px;
  height:478px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:477px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:36px;
}
#u96 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:0px;
  top:36px;
  width:294px;
  height:52px;
  font-size:14px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:52px;
}
#u98 {
  position:absolute;
  left:2px;
  top:18px;
  width:290px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:0px;
  top:88px;
  width:294px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:36px;
}
#u100 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:0px;
  top:124px;
  width:294px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:36px;
}
#u102 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:0px;
  top:160px;
  width:294px;
  height:68px;
  font-size:14px;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:68px;
}
#u104 {
  position:absolute;
  left:2px;
  top:26px;
  width:290px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:0px;
  top:228px;
  width:294px;
  height:68px;
  font-size:14px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:68px;
}
#u106 {
  position:absolute;
  left:2px;
  top:26px;
  width:290px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:0px;
  top:296px;
  width:294px;
  height:52px;
  font-size:14px;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:52px;
}
#u108 {
  position:absolute;
  left:2px;
  top:18px;
  width:290px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:0px;
  top:348px;
  width:294px;
  height:52px;
  font-size:14px;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:52px;
}
#u110 {
  position:absolute;
  left:2px;
  top:18px;
  width:290px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:0px;
  top:400px;
  width:294px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:36px;
}
#u112 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:0px;
  top:436px;
  width:294px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:36px;
}
#u114 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:235px;
  top:122px;
  visibility:hidden;
}
#u115_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u115_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u116 {
  position:absolute;
  left:100px;
  top:50px;
  width:300px;
  height:358px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:358px;
}
#u117 {
  position:absolute;
  left:2px;
  top:171px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:120px;
  top:88px;
  width:260px;
  height:25px;
}
#u118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u119 {
  position:absolute;
  left:120px;
  top:72px;
  width:33px;
  height:16px;
  font-size:14px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:120px;
  top:138px;
  width:260px;
  height:25px;
}
#u121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u122 {
  position:absolute;
  left:120px;
  top:122px;
  width:60px;
  height:16px;
  font-size:14px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:120px;
  top:188px;
  width:260px;
  height:25px;
}
#u124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u125 {
  position:absolute;
  left:120px;
  top:172px;
  width:49px;
  height:16px;
  font-size:14px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:120px;
  top:238px;
  width:260px;
  height:91px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:91px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u128 {
  position:absolute;
  left:120px;
  top:222px;
  width:105px;
  height:16px;
  font-size:14px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:200px;
  top:348px;
  width:100px;
  height:25px;
}
#u130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u131 {
  position:absolute;
  left:106px;
  top:0px;
  width:288px;
  height:28px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:28px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:0px;
  top:66px;
  visibility:hidden;
}
#u133_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u133_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:130px;
  font-size:16px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:130px;
}
#u135 {
  position:absolute;
  left:2px;
  top:18px;
  width:526px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:500px;
  top:10px;
  width:20px;
  height:20px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u137 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:642px;
  top:5px;
  width:207px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
