body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:0px;
  width:200px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:791px;
  top:37px;
  width:200px;
  height:26px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:791px;
  top:21px;
  width:39px;
  height:16px;
  font-size:14px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:968px;
  top:39px;
  width:20px;
  height:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:939px;
  top:74px;
  width:50px;
  height:22px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8 {
  position:absolute;
  left:825px;
  top:71px;
  width:100px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:252px;
  top:33px;
  width:130px;
  height:22px;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:420px;
  top:33px;
  width:130px;
  height:22px;
  font-size:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:641px;
  top:34px;
  width:138px;
  height:16px;
  font-size:14px;
  text-decoration:underline;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:252px;
  top:3px;
  width:328px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:916px;
  top:5px;
  width:20px;
  height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:944px;
  top:5px;
  width:20px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:971px;
  top:5px;
  width:20px;
  height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:110px;
}
#u23_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u23_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:420px;
  font-size:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:420px;
}
#u25 {
  position:absolute;
  left:2px;
  top:199px;
  width:996px;
  word-wrap:break-word;
}
#u23_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u23_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:420px;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:420px;
}
#u27 {
  position:absolute;
  left:2px;
  top:199px;
  width:996px;
  word-wrap:break-word;
}
#u23_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u23_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:420px;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:420px;
}
#u29 {
  position:absolute;
  left:2px;
  top:199px;
  width:996px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:213px;
  top:578px;
  width:575px;
  height:27px;
  font-size:23px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:27px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:10px;
  top:635px;
  width:480px;
  height:95px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:95px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:510px;
  top:635px;
  width:480px;
  height:95px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:95px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:10px;
  top:720px;
  width:981px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:964px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:981px;
  height:1px;
}
#u37 {
  position:absolute;
  left:405px;
  top:759px;
  width:188px;
  height:26px;
  font-size:22px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:26px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:32px;
  top:819px;
  width:160px;
  height:100px;
  font-size:14px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:100px;
}
#u40 {
  position:absolute;
  left:2px;
  top:34px;
  width:156px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:225px;
  top:819px;
  width:160px;
  height:100px;
  font-size:14px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:100px;
}
#u42 {
  position:absolute;
  left:2px;
  top:34px;
  width:156px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:417px;
  top:819px;
  width:160px;
  height:100px;
  font-size:14px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:100px;
}
#u44 {
  position:absolute;
  left:2px;
  top:42px;
  width:156px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:610px;
  top:819px;
  width:160px;
  height:100px;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:100px;
}
#u46 {
  position:absolute;
  left:2px;
  top:34px;
  width:156px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:803px;
  top:819px;
  width:160px;
  height:100px;
  font-size:14px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:100px;
}
#u48 {
  position:absolute;
  left:2px;
  top:34px;
  width:156px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:32px;
  top:970px;
  width:160px;
  height:100px;
  font-size:14px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:100px;
}
#u50 {
  position:absolute;
  left:2px;
  top:34px;
  width:156px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:225px;
  top:970px;
  width:160px;
  height:100px;
  font-size:14px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:100px;
}
#u52 {
  position:absolute;
  left:2px;
  top:26px;
  width:156px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:417px;
  top:970px;
  width:160px;
  height:100px;
  font-size:14px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:100px;
}
#u54 {
  position:absolute;
  left:2px;
  top:26px;
  width:156px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:610px;
  top:970px;
  width:160px;
  height:100px;
  font-size:14px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:100px;
}
#u56 {
  position:absolute;
  left:2px;
  top:42px;
  width:156px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:803px;
  top:970px;
  width:160px;
  height:100px;
  font-size:14px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:100px;
}
#u58 {
  position:absolute;
  left:2px;
  top:42px;
  width:156px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:1086px;
  width:1000px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u60 {
  position:absolute;
  left:405px;
  top:1120px;
  width:188px;
  height:26px;
  font-size:22px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:26px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:691px;
  top:1275px;
  width:96px;
  height:74px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:74px;
}
#u63 {
  position:absolute;
  left:2px;
  top:29px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:800px;
  top:1273px;
  width:190px;
  height:129px;
  font-family:'Georgia Обычный', 'Georgia';
  font-weight:400;
  font-size:13px;
  line-height:18px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:129px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:352px;
  top:1274px;
  width:96px;
  height:82px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:82px;
}
#u67 {
  position:absolute;
  left:2px;
  top:33px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:461px;
  top:1270px;
  width:190px;
  height:149px;
  font-family:'Georgia Обычный', 'Georgia';
  font-weight:400;
  font-size:13px;
  line-height:18px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:149px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:691px;
  top:1208px;
  width:299px;
  height:42px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:42px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:352px;
  top:1207px;
  width:306px;
  height:23px;
  font-size:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:23px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:10px;
  top:1179px;
  width:956px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:939px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:956px;
  height:1px;
}
#u75 {
  position:absolute;
  left:10px;
  top:1274px;
  width:96px;
  height:82px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:82px;
}
#u76 {
  position:absolute;
  left:2px;
  top:33px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:118px;
  top:1270px;
  width:190px;
  height:149px;
  font-family:'Georgia Обычный', 'Georgia';
  font-weight:400;
  font-size:13px;
  line-height:18px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:149px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:10px;
  top:1207px;
  width:306px;
  height:44px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:44px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:10px;
  top:1431px;
  width:956px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:939px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:956px;
  height:1px;
}
#u82 {
  position:absolute;
  left:692px;
  top:1249px;
  width:95px;
  height:16px;
  color:#999999;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:352px;
  top:1248px;
  width:95px;
  height:16px;
  color:#999999;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:10px;
  top:1247px;
  width:95px;
  height:16px;
  color:#999999;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:381px;
  top:1465px;
  width:239px;
  height:26px;
  font-size:22px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:26px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:10px;
  top:1516px;
  width:981px;
  height:240px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:240px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:0px;
  top:1786px;
  width:1000px;
  height:100px;
  font-size:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:100px;
}
#u93 {
  position:absolute;
  left:2px;
  top:40px;
  width:996px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:252px;
  top:66px;
  width:500px;
  height:30px;
}
#u94_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:506px;
  height:36px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:35px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u99 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u101 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u103 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u105 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:100px;
  top:30px;
  width:294px;
  height:472px;
  visibility:hidden;
}
#u106_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:300px;
  height:478px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:477px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:36px;
}
#u109 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:0px;
  top:36px;
  width:294px;
  height:52px;
  font-size:14px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:52px;
}
#u111 {
  position:absolute;
  left:2px;
  top:18px;
  width:290px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:0px;
  top:88px;
  width:294px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:36px;
}
#u113 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:0px;
  top:124px;
  width:294px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:36px;
}
#u115 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:0px;
  top:160px;
  width:294px;
  height:68px;
  font-size:14px;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:68px;
}
#u117 {
  position:absolute;
  left:2px;
  top:26px;
  width:290px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:0px;
  top:228px;
  width:294px;
  height:68px;
  font-size:14px;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:68px;
}
#u119 {
  position:absolute;
  left:2px;
  top:26px;
  width:290px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:0px;
  top:296px;
  width:294px;
  height:52px;
  font-size:14px;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:52px;
}
#u121 {
  position:absolute;
  left:2px;
  top:18px;
  width:290px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:0px;
  top:348px;
  width:294px;
  height:52px;
  font-size:14px;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:52px;
}
#u123 {
  position:absolute;
  left:2px;
  top:18px;
  width:290px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:0px;
  top:400px;
  width:294px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:36px;
}
#u125 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:0px;
  top:436px;
  width:294px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:36px;
}
#u127 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:235px;
  top:122px;
  visibility:hidden;
}
#u128_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u128_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u129 {
  position:absolute;
  left:100px;
  top:50px;
  width:300px;
  height:358px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:358px;
}
#u130 {
  position:absolute;
  left:2px;
  top:171px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:120px;
  top:88px;
  width:260px;
  height:25px;
}
#u131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u132 {
  position:absolute;
  left:120px;
  top:72px;
  width:33px;
  height:16px;
  font-size:14px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:120px;
  top:138px;
  width:260px;
  height:25px;
}
#u134_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u135 {
  position:absolute;
  left:120px;
  top:122px;
  width:60px;
  height:16px;
  font-size:14px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:120px;
  top:188px;
  width:260px;
  height:25px;
}
#u137_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u138 {
  position:absolute;
  left:120px;
  top:172px;
  width:49px;
  height:16px;
  font-size:14px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:120px;
  top:238px;
  width:260px;
  height:91px;
}
#u140_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:91px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u141 {
  position:absolute;
  left:120px;
  top:222px;
  width:105px;
  height:16px;
  font-size:14px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:200px;
  top:348px;
  width:100px;
  height:25px;
}
#u143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u144 {
  position:absolute;
  left:106px;
  top:0px;
  width:288px;
  height:28px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:28px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:0px;
  top:66px;
  visibility:hidden;
}
#u146_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u146_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:130px;
  font-size:16px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:130px;
}
#u148 {
  position:absolute;
  left:2px;
  top:18px;
  width:526px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:500px;
  top:10px;
  width:20px;
  height:20px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u150 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:642px;
  top:5px;
  width:207px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:16px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
